* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: white;
  padding: 40px 42px 145px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("../images/backgroundIMG.png") no-repeat center / cover;
  border-radius: 0px 0px 90px 90px;
}

.hello {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

.hello-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}

.user {
  margin-top: -79px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
}

.user-avatar {
  margin-top: -53px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 1);
}

.user-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 400;
}
.user-description {
  margin-top: 4px;
  color: rgba(119, 119, 119, 1);
  font-size: 13px;
  font-weight: 400;
}

.card{
  border-radius: 15px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  gap: 10px;
  margin-bottom: 15px;
}

.button{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: White;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  gap: 10px;
}

.button.vk{
  background-color: #4C75A3;
}
.button.tg{
  background-color: #0088CC;
}
.button.yt{
  background-color: #FF0000;
}
